### Exploring_India's_COVID_19_Journey_A_Case_Study_Analysis

### Python Code

In [ ]:
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

#Task1
#Loading the data
def read_data_from_csv():
    #Read the dataset
    df = pd.read_csv('agedistribution_2016_estimates.csv')
    return df

In [ ]:
#Task 2: Renaming the Columns
def rename_columns():
    data=read_data_from_csv()

    # Rename the column names
    data.rename(columns={'Age': 'Age_group', 'M': 'Male', 'F': 'Female', 'Tot': 'Total'}, inplace=True)

    # Export cleaned dataset to a new CSV file named "agedistribution_2016_estimates_cleaned.csv"
    data.to_csv('agedistribution_2016_estimates_cleaned.csv', index=False)

    # export cleaned Dataset to newcsv file named "agedistribution_2016_estimates_cleaned.csv"
    return data

#Do not Delete the Following function
def task_runner():
    rename_columns()

In [ ]:
# Task 3

import pandas as pd
import warnings

warnings.filterwarnings("ignore")

# Loading the data
def read_data_from_csv():
    df = pd.read_csv('death_and_recovery.csv')
    return df

In [ ]:
# Task 4

def data_cleaning():
    # Call read_data_from_csv() function to get the dataframe
    data = read_data_from_csv()

    # Remove unwanted columns (comorbidity, State_code)
    unwanted_columns = ['comorbidity', 'State_code']
    data = data.drop(columns=unwanted_columns)

    # Export cleaned dataset to a new CSV file named "death_and_recovery_cleaned.csv"
    data.to_csv('death_and_recovery_cleaned.csv', index=False)

    return data

# Do not delete the following function
def task_runner():
    data_cleaning()

In [ ]:
# Task 5

import pandas as pd
import warnings
warnings.filterwarnings("ignore")

def read_data_from_csv():
    # Read the dataset
    df = pd.read_csv('hospitalbeds.csv')
    return df

In [ ]:
# Task 6: Renaming the Columns
def rename_columns():
    data = read_data_from_csv()

    # Rename the columns
    data = data.rename(columns={'serial': 'sno',  'state': 'State_UT', 'Hosp_Aval': 'Hospitals_Available', 'Beds_Aval': 'Beds_Available', 'Pop_beds': 'Population_beds'})

    # Export cleaned Dataset to a new CSV file named "hospitalbeds_cleaned.csv"
    data.to_csv('hospitalbeds_cleaned.csv', index=False)

    return data

# Do not delete the following function
def task_runner():
    rename_columns()

In [ ]:
# Task 7

import pandas as pd
import warnings
warnings.filterwarnings("ignore")


# Loading the data
def read_data_from_csv():
    df = pd.read_csv('statewisedata.csv')
    return df

In [ ]:
# Task 8

def data_cleaning():
    # Call remove_unwanted_columns() function to get dataframe
    data = read_data_from_csv()

    # Remove unwanted columns (Delta_Confirmed, Delta_Recovered, Delta_Deaths)
    data = data.drop(['Delta_Confirmed', 'Delta_Recovered', 'Delta_Deaths'], axis=1)

    # Export cleaned Dataset to new CSV file named "statewisedata_cleaned.csv"
    data.to_csv('statewisedata_cleaned.csv', index=False)

    return data

# Do not Delete the Following function
def task_runner():
    data_cleaning()

### MYSQL Code

#### Task1

Write an SQL query to solve the given problem statement.

Display the states, gender affected and the confirmed cases in their respective states where confirmed cases are more than 100.


#### SELECT statewisedata.State_UT, death_and_recovery.Gender, statewisedata.Confirmed FROM statewisedata JOIN death_and_recovery ON statewisedata.State_UT = death_and_recovery.State WHERE statewisedata.Confirmed > 100 GROUP BY State_UT LIMIT 9;

#### Task2

Write an SQL query to solve the given problem statement.
Which states have collected more than 1000 samples in a day? Provide the serial number, state name, and the total number of samples tested for each state, using data from the 'icmrtestingdata' and 'statewisedata' tables.

#### SELECT icmrtestingdata.sno, statewisedata.State_UT, icmrtestingdata.TotalSamplesTested FROM icmrtestingdata JOIN statewisedata ON icmrtestingdata.sno = statewisedata.sno WHERE icmrtestingdata.TotalSamplesTested > 1000;

#### Task3
 
Write an SQL query to solve the given problem statement.
Display the patient status in each state from the death_and_recovery table

#### SELECT t1.Patient_status, t2.City, t1.Age FROM death_and_recovery AS t1 JOIN death_and_recovery AS t2 ON t1.State = t2.State ORDER BY t2.State ASC, t1.Age DESC;

#### Task4	

Write an SQL query to solve the given problem statement.
Display the hospital beds along with their location where patients have recovered from covid-19 and those beds are made available to the needy patients waiting in the queue to get admitted.

#### SELECT hb.Beds_Available, dr.Patient_Status, dr.State, dr.City FROM death_and_recovery dr JOIN hospitalbeds hb ON dr.State = hb.State_UT WHERE dr.Patient_Status = 'Recovered' AND hb.Beds_Available > 0;

#### Task5

Write an SQL query to solve the given problem statement.
Display the total number of people in assam who have recovered

#### SELECT COUNT(*) AS total_recovered FROM death_and_recovery WHERE State = 'Assam' AND Patient_status = 'Recovered';

#### Task6

Write an SQL query to solve the given problem statement.
Show the state, hospitals and beds available where population beds and hospitals available are more than 1000.

#### SELECT State_UT, Hospitals_Available, Beds_Available FROM hospitalbeds WHERE Hospitals_Available > 1000 AND Population_beds > 1000;

#### Task7

Write an SQL query to solve the given problem statement.
Show states where active cases are less than 50.

#### SELECT State_UT FROM statewisedata WHERE Active < 50;

#### Task8

Write an SQL query to solve the given problem statement.
Which dates are associated with the availability of beds, as captured in the 'datewisepatients' and 'hospitalbeds' tables?

#### SELECT Distinct dw.date, hb.Beds_Available FROM datewisepatients AS dw CROSS JOIN hospitalbeds AS hb;

#### 9

Write an SQL query to solve the given problem statement.
Show the details of the number of samples tested across each timestamp

#### SELECT UpdatedTimeStamp, SUM(TotalSamplesTested) AS TotalSamplesTested FROM icmrtestingdata WHERE UpdatedTimeStamp IS NOT NULL AND TotalSamplesTested IS NOT NULL GROUP BY UpdatedTimeStamp;

#### Task10

Write an SQL query to solve the given problem statement. Display the number of males and females who have recovered

#### SELECT Gender, COUNT(*) AS RecoveryCount FROM death_and_recovery WHERE Patient_Status = 'Recovered' GROUP BY Gender;

#### Task11

Write an SQL query to solve the given problem statement. List the states where the population is greater than the number of beds available in descending order of serial number.

#### SELECT State_UT, Beds_Available  FROM hospitalbeds WHERE Population_beds > Beds_Available ORDER BY sno DESC;

#### Task12

Write an SQL query to solve the given problem statement. What is the total number of samples tested, total number of positive cases, and the difference between the total samples tested and total positive cases in the 'icmrtestingdata' table?

#### SELECT TotalSamplesTested, TotalPositiveCases, (TotalSamplesTested - TotalPositiveCases) AS Difference FROM icmrtestingdata;

#### Task13

Write an SQL query to solve the given problem statement. Find the number of hospital beds available in each state.

#### SELECT State_UT, SUM(Beds_Available) AS TotalBedsAvailable FROM hospitalbeds GROUP BY State_UT;

#### Task14

Write an SQL query to solve the given problem statement. Display the total number of beds available in Tamil Nadu

#### SELECT SUM(Beds_Available) AS TotalBedsAvailable FROM hospitalbeds WHERE State_UT = 'Tamil Nadu';

#### Task15

Write an SQL query to solve the given problem statement. Display the total number of beds available in India.

#### SELECT SUM(Beds_Available) AS TotalBedsAvailable FROM hospitalbeds;


#### Task16

Write an SQL query to solve the given problem statement. What are the distinct values of 'TotalSamplesTested',  'TotalPositiveCases', and 'UpdatedTimeStamp' in the 'icmrtestingdata' table?

#### SELECT DISTINCT TotalSamplesTested, TotalPositiveCases, UpdatedTimeStamp FROM icmrtestingdata;

#### Task17

Write an SQL query to solve the given problem statement. Display the total confirmed cases till 31-March in Maharashtra.

#### SELECT SUM(Confirmed) AS TotalConfirmedCases, State_UT FROM statewisedata WHERE State_UT = 'Maharashtra' AND Last_Updad_time <= '2023-03-31';

#### Task18

Write an SQL query to solve the given problem statement. Calculate the summing distribution of males and females aged 0 to 49 who have been impacted by COVID-19.

#### SELECT SUM(Male), SUM(Female)  FROM agedistribution_2016_estimates WHERE Age_group IN ('0-4', '15-19', '20-24', '25-29', '30-34', '35-39', '40-44', '45-49');

#### Task19

Write an SQL query to solve the given problem statement. Find out the recovery rate among the states and display it along with the names of the states and the number of recovered & active cases.

#### SELECT Recovered, Active, State_UT, (Recovered/Active)*100 FROM statewisedata;

#### Task20

Write an SQL query to solve the given problem statement. Display the states along with the ratio of Beds available against the total population beds

#### SELECT State_UT,   Beds_Available,   Population_beds,   Beds_Available / Population_beds AS Bed_Ratio hospitalbeds;

#### Task21

21.	Write an SQL query to solve the given problem statement. What are the different patient statuses and the corresponding cities recorded in the 'death_and_recovery' table, after joining it with the 'statewisedata' table based on the matching State_UT values?

#### SELECT DISTINCT d.Patient_status, d.City FROM death_and_recovery d JOIN statewisedata s ON d.State = s.State_UT WHERE d.Age IS NOT NULL;